/*Постоянные клиенты*/
.clients {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-text) ;

    @include mq (desktop) {
        font-size: 36px;

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        align-items: center;

        @include mq (desktop) {
            margin-top: 50px;
            flex-wrap: nowrap;
        
        }
    }
    
    @include mq (desktop-only) {
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    
    }

    &__item {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition: border var(--anim-spb);
        flex-basis: calc((100% - 60px) / 2);
        flex-grow: 2;

        @include mq (mobile-only) {
        

        }

        @include mq (tablet-only) {
            flex-basis: calc((100% - 90px) / 3);
           
        
        
        }
        
    }

    @include mq (mobile-only) {
    &__item:nth-child(-n + 4) {
        margin-bottom: 30px;
    }
    &__item:nth-child(odd) {
        margin-right: 30px;
    }
    }
    @include mq (tablet-only) {
        &__item:not(:nth-child(3n)) {
            margin-right: 30px;
        }
        &__item:nth-child(-n + 3) {
            margin-bottom: 30px;
        }
    }

    @include mq (desktop) {
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    }
    

    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92px;
        fill: #AFB1B8;
    
        transition: fill var(--anim-spb)
    }
    
    &__item:hover,
    &__item:focus {
        border: 1px solid var(--blue-text);
    
    
    }
    
    &__item:hover &__link,
    &__item:focus &__link {
        fill: var(--blue-text);
    
    
    
    }
}
