/*Форма*/

.form {

    &__text {
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
        color: var(--black-text);

        @media screen and (max-width:480px) {
        font-size: 15px;
            }
    
    }
    
    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        color: var(--grey-text);
    }

    @media screen and (max-width:480px) {
            &__label {
                font-size: 11px;
    
            }
                        }
    
    // &__label:nth-child(5) {
    //     margin-bottom: 0;
    // }
    
    &__textarea {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        padding: 12px 16px;
        margin-top: 4px;
        height: 120px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: border var(--anim-spb)

        
        
    }

    @media screen and (max-width:480px) {
        &__textarea{
        height: 100px;
            
        }
                }
    
    &__input {
        position: relative;
        margin-top: 4px;
        height: 40px;
        padding: 12px 0 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: border var(--anim-spb)
    }

    &__icon {
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: 11px;
        left: 12px;
    
    }

    &__input:focus,
    &__textarea:focus {
        border: 1px solid var(--blue-text);
        outline: transparent;
    }
    
    &__input:focus+&__icon {
        transition: fill var(--anim-spb);
        fill: var(--blue-text);
    
    }

}
// .check {
//     position: relative;
//     display: block;
//     margin-top: 20px;
//     margin-bottom: 30px;
//     text-align: right;
//     padding-right: 11px;
//     padding-left: 12px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--grey-text);

//     &__input {

//         position: absolute;
//         width: 1px;
//         height: 1px;
//         margin: -1px;
//         border: 0;
//         padding: 0;
//         clip: rect(0 0 0 0);
//         overflow: hidden;
//     }

//     &__box {
//         position: absolute;
//         width: 16px;
//         height: 15px;
//         left: 12px;
//         top: 50%;
//         background-color: var(--wght-fon);
//         border: 2px solid var(--main-text);
//         border-radius: 2px;
//         transform: translateY(-50%);
//         opacity: 1;
//         transition: opacity var(--anim-spb);
//     }

//     &__input:checked+.checkbox__icon {
//         opacity: 0;
//     }

//     &__input:checked~&__icon {
//         opacity: 1;
//     }

//     &__icon {
//         display: inline-block;
//         position: absolute;
//         top: 50%;
//         left: 12px;
//         width: 16px;
//         height: 15px;

//         background-color: var(--blue-text);
//         fill: var(--wght-fon);
//         border-radius: 2px;
//         opacity: 0;
//         transition: opacity var(--anim-spb);

//         transform: translateY(-50%);
//     }

//     &__link {
//         text-decoration-line: underline;
//         color: var(--blue-text);
//     }
//     &__link,
//     &__text {
//         font-size: 12px ;
//         line-height: 1.16;
//         letter-spacing: 0.03em;

//         @include mq (desktop) {
//         font-size: 14px;
//         }
//     }



// }

// .check {
//     position: relative;
//     display: block;
//     margin-top: 20px;
//     margin-bottom: 30px;
    
//     padding-right: 11px;
//     padding-left: 12px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--grey-text);

//     @media screen and (max-width:480px) {
//     margin-top: 10px;
//         margin-bottom: 10px;
//     }

//     &__input {

//         position: absolute;
//         width: 1px;
//         height: 1px;
//         margin: -1px;
//         border: 0;
//         padding: 0;
//         clip: rect(0 0 0 0);
//         overflow: hidden;
//     }

//         &__box {
//                     position: absolute;
//                     width: 16px;
//                     height: 15px;
//                     left: 12px;
//                     top: 50%;
//                     background-color: var(--wght-fon);
//                     border: 2px solid var(--main-text);
//                     border-radius: 2px;
//                     transform: translateY(-50%);
//                     opacity: 1;
//                     transition: opacity var(--anim-spb);
//                 }
//     &__input:checked+.checkbox__icon {
//         opacity: 0;
//     }

//     &__input:checked~&__icon {
//         opacity: 1;
//     }

//         &__icon {
//                     display: inline-block;
//                     position: absolute;
//                     top: 50%;
//                     left: 12px;
//                     width: 16px;
//                     height: 15px;
    
//                     background-color: var(--blue-text);
//                     fill: var(--wght-fon);
//                     border-radius: 2px;
//                     opacity: 0;
//                     transition: opacity var(--anim-spb);
    
//                     transform: translateY(-50%);
//                 }

//     &__link {
//         text-decoration-line: underline;
//         color: var(--blue-text);
//     }

//     &__link,
//     &__text {
//         font-size: 12px;
//         line-height: 1.16;
//         letter-spacing: 0.03em;

//         @include mq (desktop) {
//             font-size: 14px;
//         }
//     }
// }

.modal-form__label-condition {
    // display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    // margin-top: 20px;
    // margin-bottom: 30px;

    @include mq(desktop) {
        font-size: 13px;
        line-height: 1.17;
    }

    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form__check-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.modal-form__check-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 8px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    line-height: 1.16;
     letter-spacing: 0.03em;
    @include mq (desktop) {
    font-size: 14px;
     }
}

.check__link {
            text-decoration-line: underline;
            color: var(--blue-text);
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            margin-left: 5px;

            @include mq (desktop) {
                    font-size: 14px;
                }
        }

       

.modal-form__check-input:checked+.modal-form__check-icon {
    background-color: var(--blue-text);

    background-image: url(../images/done.svg);
    background-size: cover;
    background-origin: border-box;
    border-color: var(--blue-text);
    background-repeat: no-repeat;
}

.modal-form__check-input:focus+.modal-form__check-icon {
    outline: 0;
    outline-offset: 0;

    border-color: var(--blue-text);
}