/* Подробно */
.peculiarities {
    
    

    @include mq (tablet-only) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    @include mq (desktop) {
        display: flex;
        justify-content: space-between;

        
    }



    &__item {

        @include mq (mobile-only) {

        margin-bottom: 30px;


        }

        @include mq (tablet-only) {
        max-width: 354px;
        margin-top: 0;
        margin-right: 15px;
        margin-left: 15px;
        }

        
        

        @include mq (desktop) {
            width: 270px;

        }
    }

    @include mq (mobile-only) {
    
        &__item:nth-child(4) {
            margin-bottom: 0;
        }
    
    }
    @include mq (tablet-only) {
        &__item:nth-child(-n+2) {
        margin-bottom: 30px;
    }
    }

    
    

    
    
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 270px;
        min-height: 120px;
        margin-top: 0px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: var(--grey-fon);
    }
    
    &__svg {
        width: 70px;
        height: 70px;
    }
}


.plain {
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &__text {
        color: var(--grey-text);
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}

@include mq (tablet-only) {
    &__item:nth-child(-n+2) {
        margin-bottom: 30px;
    }
}


