.menu-btn {
    position: relative;
    display: inline-flex;

    padding: 0;
    color: var(--main-text);
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    z-index: 25;
    transition: color var(--anim-spb);

    &:hover &__icon-open,
    &:focus &__icon-open {
        fill: var(--blue-text);
    }

    &.is-active &__icon-open {
        opacity: 1;
        fill: var(--main-text);
        transition: opacity var(--anim-spb), fill var(--anim-spb);
    }

    &.is-active &__icon-close {
        opacity: 0;
    }

    &__icon-close {
        opacity: 1;
        fill: var(--main-text);
        transition: opacity var(--anim-spb), fill var(--anim-spb);
    }

    &__icon-open {
        opacity: 0;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-btn__icon {
    fill: currentColor;

    transition: fill var(--anim-spb);

    &:hover .menu-btn__icon-open,
    &:hover .menu-btn__icon-close {
        fill: var(--blue-text);
    }
}

.menu-mobile {
    position: absolute;
    overflow-y: scroll;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;

    display: none;
    text-align: left;
    background-color: var(--wght-fon);

    transform: translateX(100%);
    visibility: hidden;
    transition: transform var(--anim-spb), visibility var(--anim-spb);
    pointer-events: none;

    &.is-open {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        visibility: visible;
        pointer-events: initial;
    }
}

