.menu-mobile__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &:hover .menu-mobile__link,
    &:focus &.menu-mobile__link {
        color: var(--blue-text);
    }
}

.menu-mobile__link {

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition: var(--anim-spb);
}

.menu-mobile__link--current {
    position: relative;
    color: var(--blue-text);
    transition: var(--anim-spb);
}

.menu-mobile__group {
    margin-top: auto;
}

.mobile__auth-nav {
    margin-bottom: 64px;
}

.mobile__auth-item {
    margin-bottom: 32px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.mobile__auth-tel {
    color: var(--blue-text);
    transition: var(--anim-spb);

    font-family: 'Roboto';
    
    font-weight: 500;
    font-size: 27px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--blue-text);
    }

    @media screen and (max-width: 479px) {
        
    }
}

.mobile__auth-email {
    
    color: var(--grey-text);
    transition: var(var(--anim-spb));

    &:hover,
    &:focus {
        color: var(--blue-text);
    }
}

.mobile__socials {
    display:  flex;
    justify-content: flex-start;

    @media screen and (max-width: 479px) {
        flex-wrap: wrap;
    }
}

.mobile__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__link {
    display:  flex;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    
    letter-spacing: 0.02em;
    color: var(--blue-text);
}

.mobile__link--content:after {
    content: none;
}